<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Metro 4 -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
  </head>
  <body>
    <aside class="sidebar pos-absolute z-2"
    data-role="sidebar"
    data-toggle="#sidebar-toggle-4"
    id="sb4"
    data-shift=".shifted-content-2"
    data-static-shift=".shifted-content-2"
    data-static="md">
 <ul class="sidebar-menu">
     <li><a href="/"><span class="mif-home icon"></span>Home</a></li>
     <li><a href="/add_url"><span class="mif-windows icon"></span>Add URL</a></li>
     <li><a href="/auth"><span class="mif-user-secret icon"></span>Login</a></li>
 </ul>
</aside>
<div class="shifted-content-2 h-100 p-ab">
 <div class="appbar pos-absolute bg-red z-1" data-role="appbar">
     <button class="app-bar-item c-pointer" id="sidebar-toggle-4">
         <span class="mif-menu fg-white"></span>
     </button>
 </div>

 <div class="h-100 p-4">
     <p class="h1">Mes Websites :</p>
     <table class="table">
      <thead>
      <tr>
          <th>URL</th>
          <th>Status</th>
          <th>Expires</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td>1</td>
          <td>Bill</td>
          <td>Gates</td>
          <td>@billy</td>
      </tr>
      <tr>
          <td>2</td>
          <td>Steve</td>
          <td>Jobs</td>
          <td>@stevy</td>
      </tr>
      <tr>
          <td>3</td>
          <td>Larry</td>
          <td>Page</td>
          <td>@larry</td>
      </tr>
      </tbody>
  </table>
</div>
    <!-- Metro 4 -->
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
  </body>
</html>