<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Metro 4 -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
  </head>
  <body>
    <aside class="sidebar pos-absolute z-2"
    data-role="sidebar"
    data-toggle="#sidebar-toggle-4"
    id="sb4"
    data-shift=".shifted-content-2"
    data-static-shift=".shifted-content-2"
    data-static="md">
    {% if g.user %}
    <div class="sidebar-header">
        <a href="/" class="fg-white sub-action"
           onclick="Metro.sidebar.close('#sb1'); return false;">
            <span class="mif-arrow-left mif-2x"></span>
        </a>

        <span class="title">{{ g.user['username'] }}</span>
    </div>
    {% endif %} 
 <ul class="sidebar-menu">
     <li><a href="/"><span class="mif-home icon"></span>Home</a></li>
     {% if g.user %}
     <li><a href="{{ url_for('monitoring.create')}}"><span class="mif-windows icon"></span>Add URL</a></li>
     <li><a href="{{ url_for('auth.logout') }}"><span class="mif-cross icon"></span>Logout</a></li>
     {% else %}
        <li><a href="{{ url_for('auth.login') }}"><span class="mif-user-secret icon"></span>Login</a></li>
        <li><a href="{{ url_for('auth.register') }}"><span class="mif-user-plus icon"></span>Register</a></li>
     {% endif %}
 </ul>
</aside>
<div class="shifted-content-2 h-100 p-ab">
 <div class="appbar pos-absolute bg-red z-1" data-role="appbar">
     <button class="app-bar-item c-pointer" id="sidebar-toggle-4">
         <span class="mif-menu fg-white"></span>
     </button>
 </div>

 <div class="h-100 p-4">
     <p class="h1">Expiration des certificats par site  :</p>
     <table class="table">
      <thead>
      <tr>
          <th>Domain</th>
          <th>Status</th>
      </tr>
      </thead>
      <tbody>
      {% for website in websites %}
      <tr>
          <td> {{ website }}</td>
          <td><button class="button {{ websites[website] }} disabled">{{ websites[website] }}</button></td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
    <!-- Metro 4 -->
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
  </body>
</html>